<div ng-controller="MainCtrl as vm">
    <h5 style="color:blue">The temporary user is arthur@gmail.com password tomhack for your test. This part is about authentication and only login user can see special data.</h5>
    <form class="navbar-form">
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="username (email)"
                   ng-model="vm.userData.email">
        </div>
        <div class="form-group">
            <input type="password"
                   class="form-control"
                   placeholder="password"
                   ng-model="vm.userData.password">
        </div>
        <button type="submit"
                class="btn btn-default"
                ng-click="vm.login()">
            Login
        </button>
        <button type="submit"
                class="btn btn-default"
                ng-click="vm.registerUser()">
            Register
        </button>
        <div ng-show="vm.message">{{vm.message}}</div>
    </form>

    <div ng-if="vm.isLoggedIn()"
         ng-include="'app/products/productEditView.html'"></div>
</div>    